<%- include("layout.ejs") %>
<h1><%= title %></h1>
<p>
    <strong>Title:</strong>
    <a href="<%= bookinstance.book.url %>"><%= bookinstance.book.title %></a>
</p>
<p><strong>Imprint:</strong> <%= bookinstance.imprint %></p>
<p>
  <strong>Status:</strong>
  <% if(bookinstance.status === "Available") { %>
  <span class="text-success"><%= bookinstance.status %></span>
  <% } else if(bookinstance.status === "Maintenance") { %>
  <span class="text-danger"><%= bookinstance.status %></span>
  <% } else { %>
  <span class="text-warning"><%= bookinstance.status %></span>
  <% } %>
  <% if(bookinstance.status !== "Available") { %>
    <p><strong>Due back:</strong> <%= bookinstance.due_date_formatted %></p>
    <% } %>
</p>
<p>Do you really want to delete this Instance?</p>
<form method="POST" action="">
    <div class="form-group">
        <input type="hidden" name="bookinstanceid" required="true" value="<%= bookinstance._id %>" id="bookinstanceid" class="form-control">
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
</form>