<%- include("layout.ejs") %>

<h1><%= title %></h1>
<form method="POST" action="">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" class="form-control" placeholder="<%= book !== undefined ? book.title : 'Name of the book' %>" name="title" required="true" value="<%= book !== undefined ? book.title : '' %>">
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <select id="author" class="form-control" type="select" placeholder="Select author" name="author" required>
          <% authors.sort(function(a, b) {let textA = a.family_name.toUpperCase(); let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}); %>
          <% for (let author of authors) { %>
            <% if (book) { %>
              <option value="<%= author._id %>" <% if (author._id.toString() === book.author._id.toString()) { %> selected <% } %>><%= author.name %></option>
            <% } else { %>
              <option value="<%= author._id %>"><%= author.name %></option>
            <% } %>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label for="summary">Summary</label>
        <textarea name="summary" id="summary" cols="30" rows="10" class="form-control" required="true"><%= book !== undefined ? book.summary : 'Summary' %></textarea>
      </div>
      <div class="form-group">
        <label for="isbn">ISBN: </label>
        <input type="text" id="isbn" class="form-control" placeholder="<%= book !== undefined ? book.summary : 'ISBN13' %>" name="isbn" value="<%= book  !== undefined ? book.isbn : '' %>" required="true">
      </div>
      <div class="form-group">
        <label>Genre: </label>
        <div>
            <% for(const genre of genres) { %>
                <div style="display: inline; padding-right:10px;">
                    <input id="<%= genre._id %>" value="<%= genre._id %>" type="checkbox" class="checkbox-input" name="genre" <%= genre.checked  ? 'checked' : '' %> >
                    <label for="<%= genre._id %>"><%= genre.name %></label>
                </div>
            <% } %>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
</form>

<% if(errors.length > 0) { %>
    <ul>
        <% errors.forEach(error => { %> 
            <li><%= error.msg%></li>
        <% }) %>
    </ul>
<% } %>